@import "./typography";

.round {
    border-radius: 50% !important;
}

p {
    font-size: $text-font-size;
}

a {
    font-size: $text-font-size;
    color: var(--font-default);
    &:hover {
        color: var(--clr-primary);
    }
}
