@import "../../scss/base/layout";

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    z-index: 999;

    height: $navbar-height;

    background: var(--bg-clr);

    a {
        color: var(--font-default);
        text-decoration: none;
    }
    #navbar-logo {
        font-size: 3rem;
    }
    ul#nav-links {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 35px;
        li.nav-link {
            font-size: 1.6rem;

            &:hover {
                color: var(--clr-primary);
            }
        }
    }
}
